:root {
  --white: #fff;
  --blue: #0290ff;
  --black: #121212;
  --pale-grey: #f5f6fa;
  --grey: #888;
  --dark-grey: darkgray; 
  --cool-blue: #4386bf;
}
// ///////////////////////////// Global Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  width: 50rem;
  height: 50rem;
  background-color: var(--pale-grey) ;
}
ul {
   padding: 0;
   margin: 0;
   list-style: none;
   text-decoration: none;
   align-self: center;
 }

